<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../../styles/styles.css">
    <link rel="stylesheet" href="../../styles/stylesIndex.css">
    <link rel="stylesheet" href="../../styles/stylesA.css">
    <link rel="stylesheet" href="../../styles/stylesimg.css">
    <link rel="stylesheet" href="../../styles/stylescat.css">
    <title>AnvePrint</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row align-items-center">
                <div class="Logo">
                    <a href="/AnvePrint"><img border="0" src="../../imgheader/Logo.PNG" ><br></a>   
                </div>
                <div class="ContactInfo">
                    <!-- Ícono de WhatsApp -->
                    <a href="https://wa.me/tunumerodewhatsapp"><img src="../../imgheader/whatsapp.png" alt="WhatsApp"></a>
                    <!-- Ícono de Facebook -->
                    <a href="https://www.facebook.com/tupagina"><img src="../../imgheader/facebook.png" alt="Facebook"></a>  
                    <!-- Número de teléfono -->
                    <span class="phone-number">Teléfono: +123456789</span>
                </div>
                <div class="BotonIndex">
                    <!-- Enlace al formulario de registro -->
                    <a href="/index" class="btn btn-primary">inicio</a>
                    <!-- Enlace al formulario de registro -->
                    <a href="/registro" class="btn btn-primary">Registro</a>
                    <!-- Enlace a la página de inicio de sesión -->
                    <a href="/login" class="btn btn-secondary">Login</a>
                    <!-- Botón del carrito de compras (sin enlace) -->
                    <a href="/carritoIndex" class="btn btn-success"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
        <section>
            <div class="header-separator">
                <h2>Imaginación a tu estilo</h2>
            </div>
        </section>
    </header>
<body>
    


   <div class="catalogo">
        <div class="sudadera">
            <img src="../../Catalogo3/Taza.png" alt="Taza 1" class="img-thumbnail">
            <h2>Taza ANVE</h2>
            <p>Descripción del producto 1.</p>
            <p>Precio: $29.99</p>
            <!-- Formulario de agregar al carrito -->
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="add" value="1">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="business" value="matthewpmacdonald@hotmail.com">
                <input type="hidden" name="item_name" value="producto anve">
                <input type="hidden" name="item_number" value="Catalogo-001">
                <input type="hidden" name="amount" value="29.99">
                <input type="hidden" name="currency_code" value="USD">
                <input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but22.gif" border="0" name="submit" alt="Agregar al carrito con PayPal">
            </form>
        </div>
        <div class="sudadera">
            <img src="../../Catalogo3/Taza3.png" alt="Taza 2" class="img-thumbnail">
            <h2>Taza ANVE</h2>
            <p>Descripción deL Producto.</p>
            <p>Precio: $34.99</p>

             <!-- Formulario de agregar al carrito -->
             <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="add" value="1">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="business" value="matthewpmacdonald@hotmail.com">
                <input type="hidden" name="item_name" value="Producto anve">
                <input type="hidden" name="item_number" value="Catalogo-002">
                <input type="hidden" name="amount" value="34.99">
                <input type="hidden" name="currency_code" value="USD">
                <input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but22.gif" border="0" name="submit" alt="Agregar al carrito con PayPal">
            </form>
        </div>
        <div class="sudadera">
            <img src="../../Catalogo3/Taza4.png" alt="Taza 3" class="img-thumbnail">
            <h2>Taza ANVE</h2>
            <p>Descripción del producto.</p>
            <p>Precio: $29.99</p>
            <!-- Formulario de agregar al carrito -->
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="add" value="1">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="business" value="matthewpmacdonald@hotmail.com">
                <input type="hidden" name="item_name" value="Taza anve">
                <input type="hidden" name="item_number" value="Catalogo-002">
                <input type="hidden" name="amount" value="29.99">
                <input type="hidden" name="currency_code" value="USD">
                <input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but22.gif" border="0" name="submit" alt="Agregar al carrito con PayPal">
            </form>
        </div>

        <div class="sudadera">
            <img src="../../Catalogo3/Taza5.png" alt="Taza 4" class="img-thumbnail">
            <h2>Taza ANVE</h2>
            <p>Descripción del producto 4.</p>
            <p>Precio: $34.99</p>
            <!-- Formulario de agregar al carrito -->
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="add" value="1">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="business" value="matthewpmacdonald@hotmail.com">
                <input type="hidden" name="item_name" value="Taza anve">
                <input type="hidden" name="item_number" value="Catalogo-002">
                <input type="hidden" name="amount" value="34.99">
                <input type="hidden" name="currency_code" value="USD">
                <input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but22.gif" border="0" name="submit" alt="Agregar al carrito con PayPal">
            </form>
        </div>
        <!-- Agrega más  aquí -->
    </div>

</body>
<footer>
    <p>&copy; 2023 AnvePrint</p>
</footer>
</html>
