/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.Logo img {
    width: 150px; /* Ajusta el tamaño del logo */
    height: auto;
}

.ContactInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactInfo a {
    margin: 0 10px;
}

.phone-number {
    margin-left: 10px;
}

.BotonIndex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.BotonIndex a {
    margin-right: 10px;
}

/* Separador de encabezado */
.header-separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    text-align: center;
}

.header-separator h2 {
    margin: 0;
}

/* Contenedor de catálogo */
.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.sudadera {
    text-align: center;
    margin: 20px;
}

.sudadera img {
    width: 64px; /* Ajusta el tamaño de las imágenes del catálogo */
    height: auto;
    margin-bottom: 10px;
}

.sudadera h2 {
    margin: 10px 0;
}

.sudadera p {
    margin: 5px 0;
}

/* Pie de página */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer {
    text-align: center;
    padding: 20px;
}
