<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/stylesIndex.css">
    <link rel="stylesheet" href="styles/stylesA.css">
    <link rel="stylesheet" href="styles/stylesUser.css">
    <title>AnvePrint</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row align-items-center">
                <div class="Logo">
                    <a href="/AnvePrint"><img border="0" src="imgheader/Logo.PNG" ><br></a>   
                </div>
                <div class="ContactInfo">
                    <!-- Ícono de WhatsApp -->
                    <a href="https://wa.me/tunumerodewhatsapp"><img src="imgheader/whatsapp.png" alt="WhatsApp"></a>
                    <!-- Ícono de Facebook -->
                    <a href="https://www.facebook.com/tupagina"><img src="imgheader/facebook.png" alt="Facebook"></a>  
                    <!-- Número de teléfono -->
                    <span class="phone-number">Teléfono: +123456789</span>
                </div>
                <div class="BotonIndex">
                    
                    <!-- Enlace al formulario de registro -->
                    <a href="/registro" class="btn btn-primary">Registro</a>
                    <!-- Enlace a la página de inicio de sesión -->
                    <a href="/login" class="btn btn-secondary">Login</a>
                    <!-- Botón del carrito de compras (sin enlace) -->
                    <a href="../AnvePrint/carritoverohtml/catalogo.html" class="btn btn-success"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
        <section>
            <div class="header-separator">
                <h2>Imaginación a tu estilo</h2>
                <nav class="navegation">
                    <ul>
                        <li><a href="/index">Inicio</a>/</li>
                        <li><a href="/login">Admin</a>/</li>
                        <li><a href="#">Productos</a>/</li>
                        <li><a href="/AnvePrint">Conocenos</a></li>
                    </ul>

                </nav>
            </div>
        </section>
    </header>

    <header>
        <h1>Catálogo de Sudaderas</h1>
    </header>

<div class="sidebar">
    <ul>
        <li><a href="#">mi perfil</a></li>
        <li><a href="#">mi carrito</a></li>
        <li><a href="#">Pedidos</a></li>
        <li><a href="#">Sudaderas</a></li>
        <li><a href="../Catalogos/Catalogo2">Playeras</a></li>
    </ul>
</div>
</div>
<div class="catalogo">
    <div class="sudadera">
        <img src="../../Catalogo1/Sudadera.png" alt="Sudadera 1">
        <h2>Sudadera Negra</h2>
        <p>Descripción de la sudadera 1.</p>
        <p>Precio: $29.99</p>
        <!-- Formulario de agregar al carrito -->
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="add" value="1">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="business" value="matthewpmacdonald@hotmail.com">
            <input type="hidden" name="item_name" value="Sudadera Negra">
            <input type="hidden" name="item_number" value="Catalogo-001">
            <input type="hidden" name="amount" value="29.99">
            <input type="hidden" name="currency_code" value="USD">
            <input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but22.gif" border="0" name="submit" alt="Agregar al carrito con PayPal">
        </form>
    </div>

    <div class="sudadera">
        <img src="../../Catalogo1/Sudadera2.png" alt="Sudadera 2">
        <h2>Sudadera</h2>
        <p>Descripción de la sudadera 2.</p>
        <p>Precio: $34.99</p>

         <!-- Formulario de agregar al carrito -->
         <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="add" value="1">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="business" value="matthewpmacdonald@hotmail.com">
            <input type="hidden" name="item_name" value="Sudadera">
            <input type="hidden" name="item_number" value="Catalogo-002">
            <input type="hidden" name="amount" value="34.99">
            <input type="hidden" name="currency_code" value="USD">
            <input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but22.gif" border="0" name="submit" alt="Agregar al carrito con PayPal">
        </form>
    </div>
    <div class="sudadera">
        <img src="../../Catalogo1/Sudadera3.png" alt="Sudadera 3">
        <h2>Sudadera Negra</h2>
        <p>Descripción de la sudadera 3.</p>
        <p>Precio: $29.99</p>
        <!-- Formulario de agregar al carrito -->
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="add" value="1">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="business" value="matthewpmacdonald@hotmail.com">
            <input type="hidden" name="item_name" value="Sudadera">
            <input type="hidden" name="item_number" value="Catalogo-002">
            <input type="hidden" name="amount" value="29.99">
            <input type="hidden" name="currency_code" value="USD">
            <input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but22.gif" border="0" name="submit" alt="Agregar al carrito con PayPal">
        </form>
    </div>

    <div class="sudadera">
        <img src="../../Catalogo1/Sudadera4.png" alt="Sudadera 4">
        <h2>Sudadera</h2>
        <p>Descripción de la sudadera 4.</p>
        <p>Precio: $34.99</p>
        <!-- Formulario de agregar al carrito -->
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="add" value="1">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="business" value="matthewpmacdonald@hotmail.com">
            <input type="hidden" name="item_name" value="Sudadera">
            <input type="hidden" name="item_number" value="Catalogo-002">
            <input type="hidden" name="amount" value="34.99">
            <input type="hidden" name="currency_code" value="USD">
            <input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but22.gif" border="0" name="submit" alt="Agregar al carrito con PayPal">
        </form>
    </div>
    <!-- Agrega más sudaderas aquí -->
</div>


</body>
<footer>
    <p>&copy; 2023 AnvePrint</p>
</footer>
</html>
