<%- include('partials/_header') %>

<div class="header-separator2">
<h2>Conocenos</h2>
</div>

<div class="container my-5">
<div class="row">
<div class="col-md-6">
    <div class="card p-4 mission-vision">
        <h1 class="text-center mb-4">Nuestra Misión</h1>
        <p class="text-justify">
            Nuestra misión es destacar como líderes en la industria, ofreciendo productos y servicios de la más alta calidad a nuestros valiosos clientes. Nos esforzamos por superar las expectativas de nuestros clientes, brindándoles soluciones innovadoras y personalizadas que se ajusten a sus necesidades de manera excepcional.
        </p>
    </div>
</div>
<div class="col-md-6">
    <div class="card p-4 mission-vision">
        <h1 class="text-center mb-4">Nuestra Visión</h1>
        <p class="text-justify">
            Nuestra visión es ser reconocidos como una empresa confiable y comprometida con la excelencia en todas nuestras actividades. Trabajamos incansablemente para mantenernos a la vanguardia de la tecnología y los avances en nuestra industria, con el fin de seguir ofreciendo soluciones de calidad excepcional a nuestros clientes.
        </p>
    </div>
</div>
</div>
</div>    

<div class="container">
<div class="row">
<div class="col-md-12">
    <h1 class="text-center mb-4">Nuestra Historia</h1>
    <p class="text-justify">
        Nuestra empresa nace del apasionante mundo de los animes y la creatividad. Establecimos nuestra compañía con el propósito de ofrecer productos únicos y de la más alta calidad, todos ellos inspirados en el apasionado público amante de los animes. En nuestra búsqueda por materializar la idea de negocio perfecta, detectamos una creciente demanda de productos relacionados con los animes. Pero nos planteamos la pregunta: ¿cómo llevar a estos cautivadores personajes a un nivel superior? La respuesta fue el sublimado. Esta técnica, reconocida por su versatilidad y la posibilidad de crear diseños exclusivos, fue el impulso detrás de la creación de AnvePrint. Con una visión clara en mente, nos aventuramos en el mundo empresarial con el objetivo de satisfacer las necesidades de los fans de los animes, ofreciéndoles una forma única de expresar su pasión a través de productos personalizados.
    </p>
</div>
</div>
</div>

<section class="ubicacion">
<h2>Ubicación de la Tienda</h2>
<div class="mapa">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3398.4329453511095!2d-106.41776302380374!3d31.59459453284651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86e766de49b5fee5%3A0xa68f9cadd967bd5f!2sTierra%20de%20Labranza%2040%2C%2032576%20Cd%20Ju%C3%A1rez%2C%20Chih.!5e0!3m2!1ses-419!2smx!4v1692033476543!5m2!1ses-419!2smx" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>
</section>

<section class="metodos-pago">
<h2>Métodos de Pago</h2>
<img border="0" src="imgIndex/Paypal.png" >
<img border="0" src="imgIndex/Paypal.png" >
<img border="0" src="imgIndex/Paypal.png" >
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>


<%- include('partials/_footer') %>