<%- include('partials/_header') %>

 <!-- Agregar el carrusel de imágenes -->
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <!-- Agregar más indicadores para cada imagen adicional -->
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="Catalogo1/Sudadera.PNG" alt="Catálogo 1">
            <div class="carousel-caption">
                <h3>Catálogo 1</h3>
                <p>Descripción del catálogo 1.</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="Catalogo2/Playera.png" alt="Catálogo 2">
            <div class="carousel-caption">
                <h3>Catálogo 2</h3>
                <p>Descripción del catálogo 2.</p>
            </div>
        </div>

        
        <div class="carousel-item">
            <img src="Catalogo3/Taza2.png" alt="Catálogo 3">
            <div class="carousel-caption">
                <h3>Catálogo 3</h3>
                <p>Descripción del catálogo 2.</p>
            </div>
        </div>
        <!-- Agregar más divs de "carousel-item" para cada imagen adicional -->
    </div>

    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<div class="containerCatalogo">
    <div class="row d-flex justify-content-between">
        <div class="col-md-4">
            <a href="/Catalogos/Catalogo1"><img src="Catalogo1/Sudadera2.png" alt="Imagen 1"></a>
            <p><a href="/Catalogos/Catalogo1">Sudaderas</a></p>
        </div>
        <div class="col-md-4">
            <a href="/Catalogos/Catalogo2"><img src="Catalogo2/Playera2.png" alt="Imagen 2"></a>
            <p><a href="/Catalogos/Catalogo2">Playeras</a></p>
        </div>
        <div class="col-md-4">
            <a href="/Catalogos/Catalogo3"><img src="Catalogo3/Taza.png" alt="Imagen 3"></a>
            <p><a href="/Catalogos/Catalogo3">Otros productos</a></p>
        </div>
    </div>
</div>

<div class="header-separator">
    <h2>Disea tu producto gratis</h2>
</div>

<div class="container">
    <div class="row d-flex justify-content-between">
        <div class="col-md-4">
            <img src="imgIndex/Sudadera.jpg" alt="Imagen 1">
            <p>Información sobre la imagen 1.</p>
        </div>
        <div class="col-md-4">
            <img src="imgIndex/Camisetas.jpg" alt="Imagen 2">
            <p>Información sobre la imagen 2.</p>
        </div>
        <div class="col-md-4">
            <img src="imgIndex/Tazas.jpg" alt="Imagen 3">
            <p>Información sobre la imagen 3.</p>
        </div>
    </div>
    <section class="metodos-pago">
        <div class="header-separator">
            <h2>Metodos de  pago</h2>
            <img border="0" src="imgIndex/Paypal.png" >
            <img border="0" src="imgIndex/Paypal.png" >
            
        </div>
    </section>

<!-- Agregar el código JavaScript para el carrusel -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Agregar el código JavaScript para el icono del carrito -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>


<%- include('partials/_footer') %>