<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesi칩n</title>
    <!-- Agrega el enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/stylesLog.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Iniciar Sesi칩n</h1>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="correo">Correo</label>
                <input type="text" name="correo" id="correo" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="contrasena">Contrase침a:</label>
                <input type="password" name="contrasena" id="contrasena" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-dark">Iniciar Sesi칩n</button>
        </form>
    </div>
</body>
</html>