<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/stylesIndex.css">
    <link rel="stylesheet" href="styles/stylesA.css">
    <link rel="stylesheet" href="styles/stylesimg.css">
    <title>AnvePrint</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row align-items-center">
                <div class="Logo">
                    <a href="/AnvePrint"><img border="0" src="imgheader/Logo.PNG" ><br></a>   
                </div>
                <div class="ContactInfo">
                    <!-- Ícono de WhatsApp -->
                    <a href="https://wa.me/tunumerodewhatsapp"><img src="imgheader/whatsapp.png" alt="WhatsApp"></a>
                    <!-- Ícono de Facebook -->
                    <a href="https://www.facebook.com/tupagina"><img src="imgheader/facebook.png" alt="Facebook"></a>  
                    <!-- Número de teléfono -->
                    <span class="phone-number">Teléfono: +123456789</span>
                </div>
                <div class="BotonIndex">
                    <!-- Enlace al formulario de registro -->
                    <a href="/registro" class="btn btn-primary">Registro</a>
                    <!-- Enlace a la página de inicio de sesión -->
                    <a href="/login" class="btn btn-secondary">Login</a>
                    <!-- Botón del carrito de compras (sin enlace) -->
                    <a href="/carritoIndex" class="btn btn-success"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
        <section>
            <div class="header-separator">
                <h2>Imaginación a tu estilo</h2>
                <nav class="navegation">
                    <ul>
                        <li><a href="/index">Inicio</a>/</li>
                        <li><a href="/login">Admin</a>/</li>
                        <li><a href="#">Productos</a>/</li>
                        <li><a href="/AnvePrint">Conocenos</a></li>
                    </ul>

                </nav>
            </div>
        </section>
    </header>

